### Today Topics
- Machine Learning Introduction
- Algorithms
- Regression Models

#### Machine Learning
- Machine is Learning under the supervision of human
- It is a brach of Artificial Intelligence
- It is the study of computer algorithms which improves the performance of machine by the past experience without being explicitely programmed
- Laptop/PC:These are common for everyone:static machine
- AI machines are dynamic for everyone
- 3types of Machine Learning 
    - Supervised Learning
        - The Machine is learning under the supervision of huma/developer
            - machine is provided with both input and output
            - the user/programmer need to cross verify the working strategy of machine and compare both original and predicted outputs
            - prediction means finding/guessing
    - Unsupervised Learning and 
        - No output is provided,
    - Reinforcement Algorithm/Learning
        - Completely dynamic environment,:Automated cars,Computer option in Ludo,Carrom Board,chess etc..
        
        
- **Applications of ML**
    - speech/image recognition
    - medical diagnosis
    - email spam/fraud detection
    - traffic detection 
    - self driving cars etc..
    
    
- **Types of Algortihms**
    - 2types of Algorithm
        - Regression and Classficication Algorithms
            - Reression algorithms/models will be applied on continuos data present in output/target column
            - if we have discrete points such as Yes/No,1/0 or Trre/False
- ***8 Algorithms***
    - Linear Regression with (one&multiple) variables
    - Polynomial Regression
    - KNNeighbors
    - Logistic Regression
    - Decision Tree
    - Random Forest
    - Support Vector Machine(SVM)
    - Principle Component Analysis(PCA)
    
    
    
- **Steps Involved in ML**
    1. Consider Dataset
    2. Preprocessing
    3. Select the Algorithm
    4. Apply the model/train and test dataset
    5. Evaluation metrics/finding the accuracy of model

In [1]:
# how can add new column at the end of data set

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("marks.csv")
df

   BD  ES  ML  IS
0  70  78  69  90
1  73  67  84  92
2  90  74  56  73
3  84  59  72  70
4  93  78  69  56
5  93  45  95  59
6  90  56  78  83
7  76  83  90  69
8  66  79  81  70
9  84  85  69  85

In [4]:
#how can you rename row names
# add the total column which contains sum of entire sample

In [5]:
df.columns

Index(['BD', 'ES', 'ML', 'IS'], dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [8]:
df.index=list('abcdefghij') # using index

In [9]:
df

   BD  ES  ML  IS
a  70  78  69  90
b  73  67  84  92
c  90  74  56  73
d  84  59  72  70
e  93  78  69  56
f  93  45  95  59
g  90  56  78  83
h  76  83  90  69
i  66  79  81  70
j  84  85  69  85

In [10]:
df['ES'] # accessing using index

a    78
b    67
c    74
d    59
e    78
f    45
g    56
h    83
i    79
j    85
Name: ES, dtype: int64

In [12]:
df.ES.sum() # data science

704

In [13]:
df.BD.count()

10

In [14]:
df.IS.min()

56

In [15]:
df['new']='I am Ruthu'

In [16]:
df

   BD  ES  ML  IS         new
a  70  78  69  90  I am Ruthu
b  73  67  84  92  I am Ruthu
c  90  74  56  73  I am Ruthu
d  84  59  72  70  I am Ruthu
e  93  78  69  56  I am Ruthu
f  93  45  95  59  I am Ruthu
g  90  56  78  83  I am Ruthu
h  76  83  90  69  I am Ruthu
i  66  79  81  70  I am Ruthu
j  84  85  69  85  I am Ruthu

In [23]:
df['Total']=df.sum(axis=1)

In [25]:
df.drop(df['new'])

KeyError: "['I am Ruthu' 'I am Ruthu' 'I am Ruthu' 'I am Ruthu' 'I am Ruthu'\n 'I am Ruthu' 'I am Ruthu' 'I am Ruthu' 'I am Ruthu' 'I am Ruthu'] not found in axis"

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 6 columns):
BD       10 non-null int64
ES       10 non-null int64
ML       10 non-null int64
IS       10 non-null int64
new      10 non-null object
Total    10 non-null int64
dtypes: int64(5), object(1)
memory usage: 880.0+ bytes

In [29]:
df=df.drop(columns='new')
df

   BD  ES  ML  IS  Total
a  70  78  69  90    307
b  73  67  84  92    316
c  90  74  56  73    293
d  84  59  72  70    285
e  93  78  69  56    296
f  93  45  95  59    292
g  90  56  78  83    307
h  76  83  90  69    318
i  66  79  81  70    296
j  84  85  69  85    323

In [ ]:
linear regression:algorithm
    # step by step procedure
    # static : works same for anybody in this world
    # OS:C language
     # :Ex:ludo:200 times:nene winner:recent:10 times:1time win